[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
humanize = "*"
jwt = "*"
pyjwt = "==1.7.1"
undictify = "*"

[dev-packages]
pytest = "*"
pytest-dotenv = "*"
werkzeug = "*"

[requires]
python_version = "3.8.2"
